#color-palette {
  height: 50px;
  display: flex;
  
}

.color {
  border: 1px solid black;
  height: auto;
  width: 3em;
  margin-right: 0.5%;
}

#pixel-board {
  background-color: turquoise;
  width: 50%;
  height: 200px;
  margin-top: 5%;
}

.pixel {
  background-color: white;
  width: 5em;
  height: 5em;
  
}

