#color-palette {
  height: 50px;
  display: flex;
  justify-content: space-around;
}

#red {
  background-color: red;
  border: 1px solid black;
  height: auto;
  width: 20%;
}
#green {
  background-color: green;
  border: 1px solid black;
  height: auto;
  width: 20%;
}
#black {
  background-color: black;
  border: 1px solid black;
  height: auto;
  width: 20%;
}

#blue {
  background-color: blue;
  border: 1px solid black;
  height: auto;
  width: 20%;
}

